<div class="text-right">
    {% if not object.fcFormBehaviors | length %}
        {{ 'fc.message.admin.no_behaviors' | trans({}, 'FenrizbesFormConstructorBundle') }}
    {% endif %}

    <a
        href="{{ admin.generateUrl('do_create_behavior', { id: object.id }) }}"
        class="btn btn-sm btn-default new-behavior-link"
        title="{{ 'fc.title.admin.new_behavior' | trans({}, 'FenrizbesFormConstructorBundle') }}"
    >
        <i class="glyphicon glyphicon-plus-sign"></i>
        {{ 'fc.title.admin.new_behavior' | trans({}, 'FenrizbesFormConstructorBundle') }}
    </a>
</div>