<div class="panel-heading">
    <div class="row">
        <div class="col-xs-4">
            <h4>{{ 'fc.label.admin.behavior.if' | trans({}, 'FenrizbesFormConstructorBundle') }}</h4>
        </div>
        <div class="col-xs-3">
            <h4>{{ 'fc.label.admin.behavior.then' | trans({}, 'FenrizbesFormConstructorBundle') }}</h4>
        </div>
        <div class="col-xs-3">
            <h4>{{ 'fc.label.admin.behavior.else' | trans({}, 'FenrizbesFormConstructorBundle') }}</h4>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>