{% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% for type, flashes in app.session.flashbag.all %}
    {% if type == 'fc_form.success' %}
        {% for flash in flashes %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

                {{ flash | raw }}
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}

{{ form(form) }}